.good {
    background-color: #61AF6A;
    padding: 5px;
    display: inline-block;
}
#basket_wrapper {
    background-color: #dad55e;
    min-height: 100px;
    margin-top: 50px;
}

.basket-goods__item {
    padding: 5px;
    margin-top: 10px;
    background-color: chocolate;
}
.delme {
    margin-left: 10px;
}